<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
    <title>Bookform</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Book</h1>
	<form action="#" th:action="@{/newbook}"  th:object= ${book} method="post">
	<p>Title: <input type="text" th:field="${book.title}" /></p>
	<p>Author: <input type="text" th:field="${book.author}" /></p>
	<p>Year: <input type="text" th:field="${book.year}" /></p>
	<p>ISBN: <input type="text" th:field="${book.isbn}" /></p>
	<p>Price: <input type="text" th:field="${book.price}" /></p>
	
	<label for="categorylist">Category: </label>
			 <select id="categorylist" th:field="*{category}" class="form-control">
       			<option th:each="category: ${categories}" th:value="${category.categoryId}" th:text="${category.name}"></option>
    </select>
	<input type="submit" class="btn btn-success" value="Submit" /> <input type="reset" class="btn btn-success" value="Reset" />
	</form>
    
</body>
</html>